<%- include('../partials/header') %>

<header id="indexJumbo" class="jumbotron card card-image">
    <div class="container">
        <div class="text-center">
            <div>
                <span>
                    <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><i class="far fa-hand-peace"></i><strong> Welcome to CampMii!</strong></h2>
                    
                </span>
                <p class="">Get started by browsing popular campsites below, or sign up and try posting your own!
                </p>
                <a href="/campgrounds/new" class="btn btn-success btn-md"> Add New Campground</a>
            </div>
        </div>
    </div>
</header>

<div class="row">
    <% campgrounds.forEach((campground) => { %>
    <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
            <img src="<%= campground.image %>">
            <div class="container">

                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <p>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-info">More Info</a>
                </p>
            </div>
        </div>
    </div>

    <% }); %>
</div>


<%- include('../partials/footer') %>