<%- include('../partials/header') %>
<div class="row">

    <!-- Embedded Google Maps API -->
    <div class="col-md-4">
        <div class="hidden-xs hidden-sm" id="map"></div>
    </div>

    <!-- Campground Card -->
    <div class="col-md-8">
        <div class="thumbnail">
            <!-- Image -->
            <img id="campgroundImage" class="img-responsive" src="<%= campground.image %>" alt="">
            <div class="caption-full">
                <!-- Campground cost, Description, Author, Time Submitted -->
                <h4 class="pull-right">$<%= campground.cost %> per night</h4>
                <h4><%= campground.name %></h4>
                <div class="description">
                    <p><%= campground.description %></p>
                </div>
                <p>
                    <em>Submitted by: <%= campground.author.username %>,
                        <%= moment(campground.createdAt).fromNow() %></em>
                </p>
                <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                <a class="btn btn-s btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                <form id="delete-campground-form" action="/campgrounds/<%=campground._id%>?_method=DELETE"
                    method="POST">
                    <button class="btn btn-s btn-danger">Delete</button>
                </form>
                <%  } %>
            </div>
        </div>

        <!--COMMENT SECTION START-->
        <div class="well">
            <!--Setting up the add new comment button that is used for collapsing-->
            <div class="text-right">
                <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment"
                    aria-expanded="false" aria-controls="collapseComment">
                    <span><i class="far fa-plus-square"></i></span>  Add new comment</a>
            </div>

            <!--Comment section title-->
            <h4><strong>Comments <span> <i class="far fa-comments"></i> </span></strong>
            </h4>

            <!--Collapse Add a comment form START-->
            <div class="collapse" id="collapseComment">
                <div class="well" style="border-left: 5px solid #00C851;">
                    <% if(!currentUser) { %>
                    <!--If the user is not logged in, direct him to the login page-->
                    <h5>You need to login before you can comment</h5>
                    <% } %>
                    <% if(currentUser) { %>
                    <!--If the user is logged in, show the new comment form-->
                    <form id="add-comment-form" action="/campgrounds/<%= campground._id %>/comments" method="POST">
                        <div class="form-group">
                            <textarea class="form-control" name="comment[text]" placeholder="Write your comment..."
                                form="add-comment-form" rows="5" cols="70"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-sm">Add Comment</button>
                        </div>
                    </form>
                    <% } %>
                </div>
            </div>
            <!--Collapse Add a comment form END-->

            <hr>

            <!--Check if there are comments, if there are none say no comments.-->
            <% if (campground.comments.length === 0) { %>
            <em style="color: grey;">No comments yet.</em>
            <% } %>

            <!--Display comments by looping through them-->
            <% campground.comments.forEach(function(comment) { %>
            <div class="row">
                <div class="col-md-12">
                    <strong>
                        <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                        <!--If the current user owns the comment, change the color of the user icon-->
                        <span class="glyphicon glyphicon-user success-color" aria-hidden="true"></span>
                        <% } else { %>
                        <!--Else just display it black-->
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <% } %>
                        <!--Print out the author username-->
                        <%= comment.author.username %>
                    </strong>
                    <!--Show when the comment was made-->
                    <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
                    <!--Printing the comment-->
                    <p><%= comment.text %></p>
                    <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
                    <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                    <!--Edit button used for collapsing the edit comment form-->
                    <a id="edit-comment-icon" class="btn btn-xs btn-warning" role="button" data-toggle="collapse"
                        href="#collapseEdit<%= comment._id %>" aria-expanded="false"
                        aria-controls="collapse<%= comment._id %>">
                        <span class="glyphicon glyphicon-pencil"></span></a>
                    <!--Delete comment button-->
                    <form id="delete-comment-icon"
                        action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
                        method="POST" style="display: inline;">
                        <button class="btn btn-xs btn-danger"><span
                                class="glyphicon glyphicon-trash"></span></button>
                    </form>
                    <!--Edit comment form-->
                    <div class="collapse" id="collapseEdit<%= comment._id %>">
                        <div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
                            <form id="edit-comment-form<%= comment._id %>"
                                action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT"
                                method="POST">
                                <div class="form-group">
                                    <textarea class="form-control" name="comment[text]"
                                        placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>"
                                        rows="5" cols="70"><%= comment.text %></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-warning btn-sm">Edit comment </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <% } %>
                    <hr>
                </div>
            </div>
            <% }) %>
        </div>
        <!--COMMENT SECTION END-->

    </div>
</div>

<div class="col-md-2 "></div>
</div>
<script>
    function initMap() {

        let lat = <%= campground.lat %>;
        let lon = <%= campground.lon %>;

        const center = { lat: lat, lng: lon };
        const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 9,
            center: center,
            scrollwheel: false
        });
        const contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
        const infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        const marker = new google.maps.Marker({
            position: center,
            map: map
        });
        marker.addListener('click', function () {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtkH9xxYUP57oVvC-yoAZn29-ld8Ricps&callback=initMap"
    type="text/javascript"></script>

<%- include('../partials/footer') %>